<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/styles-index.css" rel="stylesheet"/>
</head>
<body>
<section class="outer">
    <img alt="Pic_1" src="Pic/Pic_1.png">
    <div class="info">
        <p>Sabor da Saudade Apartment</p>
        <p class="place">Амстердам</p>
        <p class="price">От BGN 359</p>
    </div>
    <div class="rating">
        <div class="pic">
            <img alt="Pic_4" src="Pic/Pic_4.png">
            <p>9.2</p>
        </div>
        <p class="rating-type">Превъзходен</p>
        <p class="review">15 отзива</p>
    </div>
</section>
<section class="outer">
    <img alt="Pic_2" src="Pic/Pic_2.png">
    <div class="info">
        <p>The Apartments by The Sloane Club</p>
        <p class="place">Лондон</p>
        <p class="price">От BGN 458</p>
    </div>
    <div class="rating">
        <div class="pic">
            <img alt="Pic_4" src="Pic/Pic_4.png">
            <p>9.3</p>
        </div>
        <p class="rating-type">Превъзходен</p>
        <p class="review">58 отзива</p>
    </div>
</section>
<section class="outer">
    <img alt="Pic_3" src="Pic/Pic_3.png">
    <div class="info">
        <p>Apartments on Belinskogo ulitsa</p>
        <p class="place">Санкт-Петербург</p>
        <p class="price">От BGN 280</p>
    </div>
    <div class="rating">
        <div class="pic">
            <img alt="Pic_4" src="Pic/Pic_4.png">
            <p>9.8</p>
        </div>
        <p class="rating-type">Превъзходен</p>
        <p class="review">34 отзива</p>
    </div>
</section>
</body>
</html>