th {
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.2rem;
    text-align: left;
    padding: 10px;
    width: 250px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-width: 1px;
    border-bottom-width: 2px;
}

.number {
    text-align: right;
}

th {
    width: 15rem;
}


tr:nth-child(odd) {
    background-color: #e5e7e4;
}

tr:hover {
    background-color: #c3c9e4;
}

td {
    font-size: 1.2rem;
}

thead > tr > th {
    background-color: white;
}