body {
    width: 610px;
    background-color: #fafafa;
}

div#outer {
    background-color: white;
    display: inline-block;
    border: 1px solid silver;
}

header {
    display: block;
    margin: 10px;
}

header > img, header > p {
    display: inline;
    vertical-align: middle;
}

footer > img {
    margin: 10px;
}