body {
    background-color: #fafafa;
}

div#outer {
    background-color: white;
    display: inline-block;
    border: 1px solid silver;
    width: 100%;
    max-width: 500px;
}

header {
    display: block;
    margin: 10px;
    width: 100%;
}

header > img, header > p {
    display: inline;
    vertical-align: middle;
}

footer > img {
    margin: 5%;
}

#outer > header > p {
    display: inline;
}

#outer > footer > img:last-child {
    float: right;
}

#outer > img:nth-child(2) {
    height: 30%;
    width: 100%;
}