body {
    width: 610px;
    background-color: #fafafa;
}

div#outer {
    background-color: white;
    display: inline-block;
    border: 1px solid silver;
}

header {
    display: block;
    margin: 10px;
}

header > img, header > p {
    display: inline;
    vertical-align: middle;
}

footer > img {
    margin: 10px;
}

#outer > header:nth-child(1) > p:nth-child(2) {
    display: inline;
}

#outer > footer:nth-child(3) > img:nth-child(4) {
    float: right;
}