body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    background-color: #1c9f75;
    color: white;
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
}

ul > li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 45px;
    width: 120px;
}


ul > li:hover {
    font-weight: bold;
    background-color: #1b8b67;
}