h1 {
    font-weight: bold;
    font-family: sans-serif monospace;
    margin-left: 50px;
}

h1.crossed {
    float: right;
    display: inline;
    text-decoration: line-through;
    margin-right: 10px;
}

p {
    float: left;
    font-family: sans-serif monospace;
    line-height: 1.6;
}

p:first-line {
    font-weight: bold;
    line-height: normal;
    font-size: 1.35rem;
}