h3 {
    margin: 1px;
}

form > label:nth-child(6) {
    display: block;
}

form > hr:nth-child(10) {
    height: 0;
}

form > label:nth-child(5) > select:nth-child(1) {
    width: 90px;
}

form > h3:nth-child(15), form:nth-child(2) > h3:nth-child(21) {
    display: inline;
}

form > input:nth-child(18), form:nth-child(2) > input:nth-child(24) {
    display: block;
}