<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/styles-index.css" rel="stylesheet"/>
</head>
<body>
<table>
    <tr>
        <th colspan="5">Win money with us!</th>
    </tr>
    <tr>
        <td>
            <div>
                <p>1</p>
            </div>
            <p>First sign up</p>
        </td>
        <td>
            <div><p>2</p></div>
            <p>Login</p>
        </td>
        <td>
            <div><p>3</p></div>
            <p>Create Application</p>
        </td>
        <td>
            <div><p>4</p></div>
            <p>Invite Friends</p>
        </td>
        <td>
            <div><p>5</p></div>
            <p>Earn money</p>
        </td>
    </tr>
</table>
</body>
</html>