<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/styles-index.css" rel="stylesheet"/>
</head>
<body>
<section>
    <header>
        <div class="move"><em><strong>Technology</strong></em></div>
    </header>
    <div class="up"></div>
    <div class="down">
        <p class="title">Silicon Valley Shows Signs of Dot-Com Frenzy</p>
        <p class="data">August 4 2010,</p>
        <p class="comments">8 Comments</p>
    </div>
    <hr>
    <div class="other-posts">
        <div class="posts-square"></div>
        <div class="posts-text">
            <p class="posts-title">Fly Fishers Serving as Transports for Noxious Little Invaders</p>
            <p class="posts-data">August 4 2010, Comments</p>
        </div>
    </div>
    <hr>
    <div class="other-posts">
        <div class="posts-square"></div>
        <div class="posts-text">
            <p class="posts-title">Fly Fishers Serving as Transports for Noxious Little Invaders</p>
            <p class="posts-data">August 4 2010, Comments</p>
        </div>
    </div>
</section>

<section>
    <header>
        <div class="move"><em><strong>Environment</strong></em></div>
    </header>
    <div class="up"></div>
    <div class="down">
        <p class="title">Silicon Valley Shows Signs of Dot-Com Frenzy</p>
        <p class="data">August 4 2010,</p>
        <p class="comments">8 Comments</p>
    </div>
    <hr>
    <div class="other-posts">
        <div class="posts-square"></div>
        <div class="posts-text">
            <p class="posts-title">Fly Fishers Serving as Transports for Noxious Little Invaders</p>
            <p class="posts-data">August 4 2010, Comments</p>
        </div>
    </div>
    <hr>
    <div class="other-posts">
        <div class="posts-square"></div>
        <div class="posts-text">
            <p class="posts-title">Fly Fishers Serving as Transports for Noxious Little Invaders</p>
            <p class="posts-data">August 4 2010, Comments</p>
        </div>
    </div>
</section>
</body>
</html>