ul.for-connection > li.face {
    font-size: 1.2rem;
}

ul.for-connection > li.twi {
    font-size: 1.3rem;
}

ul.for-connection > li.inst {
    font-size: 1.4rem;
}

ul.for-connection > li.link {
    font-size: 1.5rem;
}

ul.for-connection > li.redd {
    font-size: 1.6rem;
}

ul.old-task {
    list-style-type: square;
}