.outer > img {
    margin: 10px 10px 0;
}

.info > p {
    margin: 0;
}

.info > p:nth-child(3) {
    margin-top: 5px;
}

.outer {
    display: inline-block;
}

.pic {
    position: relative;
    text-align: center;
    color: white;
    display: inline-block;
}

.pic > p {
    margin: 0;
    position: absolute;
    top: 24%;
    left: 15%;
    color: white;
    font-size: 1rem;
}

.rating > div, .rating > p {
    display: inline-block;
    vertical-align: middle;
}

.rating > p:nth-child(2) {
    color: #1b8b67;
}

.rating > p:nth-child(3) {
    color: #969696;
}

.info > p:nth-child(2) {
    color: #969696;
}

.info {
    margin-left: 10px;
}

.rating {
    margin-left: 10px;
}