body {
    background-color: #eaebef;
}

div.inner > p, div.inner > img {
    vertical-align: middle;
}

div.outer {
    width: 200px;
}

body > div > div > img {
    width: 20px;
    height: 20px;
}

body > div > div > p {
    display: inline;
}

div.outer > div.inner {
    margin-bottom: 8px;
}