<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/style.css" rel="stylesheet"/>
</head>
<body>
<section>
    <img alt="Avatar" src="Pic/Pic_1.png">
    <div class="content">
        <p class="nickname">Jhon Snow</p>
        <div class="time">
            <img alt="from where" src="Pic/Pic_3.png">
            <p>18:58</p>
        </div>
        <p class="comment">
            Lorem ipsum dolar sit amet

            Lorem ipsum dolar sit amet, greace inimicus contentiones ius at,
            quo ad
            putant dissentiet comprehensam</p>
    </div>
</section>
<section style="top: 200px">
    <img alt="Avatar" src="Pic/Pic_2.png">
    <div class="content">
        <p class="nickname">Malko kote</p>
        <div class="time">
            <img alt="from where" src="Pic/Pic_4.png">
            <p>19:03</p>
        </div>
        <p class="comment">
            Lorem ipsum dolar sit amet

            Lorem ipsum dolar sit amet, greace inimicus contentiones ius at,
            Lorem ipsum dolar sit amet, greace inimicus contentiones ius at,
            Lorem ipsum dolar sit amet, greace inimicus contentiones ius at,
            putant dissentiet comprehensam</p>
    </div>
</section>
<section style="top: 400px">
    <img alt="Avatar" src="Pic/Pic_1.png">
    <div class="content">
        <p class="nickname">Jhon Snow</p>
        <div class="time">
            <img alt="from where" src="Pic/Pic_3.png">
            <p>19:03</p>
        </div>
        <div class="comment">
            <p class="comment">
                Lorem ipsum <img alt="smile" src="Pic/Pic_Smile.png"></p>
        </div>
    </div>
</section>
<section style="top: 470px">
    <img alt="Avatar" src="Pic/Pic_2.png">
    <div class="content">
        <p class="nickname">Malko kote</p>
        <div class="time">
            <img alt="from where" src="Pic/Pic_3.png">
            <p>19:09</p>
        </div>
        <div class="comment">
            <p class="comment"><img alt="smile" src="Pic/Pic_Smile.png"></p>
        </div>
    </div>
</section>
</body>
</html>