header {
    background: url("../Pic_1.png") repeat-x;
}

.move {
    width: 8rem;
    background-color: white;
    vertical-align: top;
    font-size: 1rem;
}

section > div {
    margin: 1rem;
}

.right {
    display: inline-block;
    vertical-align: top;
}

.left {
    height: 7rem;
    width: 13rem;
    background-color: rgba(70, 70, 70, 0.83);
    display: inline-block;
    border: 8px double white;
}

.right .title {
    margin-top: 0;
}

.right .date {
    color: silver;
}