<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            width: 610px;
            background-color: #fafafa;
        }

        div#outer {
            background-color: white;
            display: inline-block;
            border: 1px solid silver;
        }

        header {
            display: block;
            margin: 10px;
        }

        header > * {
            display: inline;
            vertical-align: middle;
        }

        footer > * {
            margin: 10px;
        }
    </style>
</head>
<body>
<div id="outer">
    <header>
        <img alt="Pic" src="Pic/Pic_1.png">
        <p style="display: inline">fit.instagr</p>
    </header>
    <img alt="Pic" src="Pic/Pic_2.png">
    <footer>
        <img alt="Pic" src="Pic/Pic_3.png">
        <img alt="Pic" src="Pic/Pic_4.png">
        <img alt="Pic" src="Pic/Pic_5.png">
        <img alt="Pic" src="Pic/Pic_6.png" style="float: right">
    </footer>
</div>
</body>
</html>