ol > li {
    display: inline-block;
    border: 1px solid red;
    margin-right: 10px;
}

#externalImage > li > a > img {
    width: 100px;
    height: 100px;
}

#ass3 > li > a > img, #wikipediaEnimal > li > a > img {
    height: 100px;
}

.ass4 {
    height: 400px;
}

picture > source:nth-child(1), picture > source:nth-child(2), picture > img {
    height: 300px;
}

picture > img {
    width: auto;
}