<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/styles-index.css" rel="stylesheet"/>
</head>
<body>
<table>
    <tr>
        <td>
            <img alt="Pic" src="Pic/Pic_1.jpg">
            <p>Lorem Ipsum</p>
        </td>
        <td>
            <img alt="Pic" src="Pic/Pic_2.jpg">
            <p>Lorem Ipsum</p>
        </td>
        <td>
            <img alt="Pic" src="Pic/Pic_3.jpg">
            <p>Lorem Ipsum</p>
        </td>
        <td>
            <img alt="Pic" src="Pic/Pic_4.jpg">
            <p>Lorem Ipsum</p>
        </td>
    </tr>
</table>
</body>
</html>